*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
 
    box-sizing: border-box;
    color: white;
}

#container{
    padding: 30px; 
    height: 100vh;
}

#logo, #visual-panel{
    width: 100%
}

#register-button{
    background-color: white;
    border: none;
    text-align: center;
    padding: 10px;
    border-radius: 50px;
    color: hsl(257, 40%, 49%);
}

#button-register:hover{
    background-color: rgb(221, 182, 221);
}

/* media querie mobile */

@media (max-width: 375px){

body{
    background-color: hsl(257, 40%, 49%);
    background-image: url("./huddle-landing-page-with-single-introductory-section-master/images/bg-mobile.svg");
    background-size: cover;
    
    }


#logo{
    max-width: 40%;
    margin-bottom: 25px;
    }

#visual-panel{
    max-width: 100%;
    margin-bottom: 40px; 
    }

#text{
    text-align: center;
    margin-bottom: 20px;
}

.headline{
    margin-bottom: 20px;
}


#register-button{
    display: block;
    margin: 0 auto;
    width: 80%;
    font-size: 18px;
    margin-top: 40px;
}

#logos{
    color: white;
    text-align: center;
    font-size: large;
    font-family: 'Poppins', sans-serif;
    margin-top: 70px;
    padding-bottom: 50px;
}
}

@media (min-width: 376px)  {

body{
    background-color: hsl(257, 40%, 49%);
    background-image: url("./huddle-landing-page-with-single-introductory-section-master/images/bg-desktop.svg");
    background-size: cover;    
    
}

#left-container{
    width: 50%;
    float: left;
}

#visual-panel{
    margin-top: 30px;
}

#right-container{
    width: 50%;
    float: right;
    padding: 50px;
}

#logo{
    max-width: 30%;
    margin-bottom: 20px;
}

#headline{
    margin-bottom: 30px;
}

#register-button{
    margin-top: 20px;
    width: 40%;
    display: block;
    font-size: 20px;
}

#logos{
    font-size: 25px;
    float: right;
    margin-top: 220px;
}

#text{
    padding-top: 100px;
}
}





